<h3><i class="fa-solid fa-mosquito"></i><i class="fa-solid fa-eye"></i> Bug Eye</h3>
<div class="section">
    <p class="lead">Bug Eye is an issue tracking system. It allows users to organize and keep track of bugs.</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i>Log In With Google
    </a>
</div>