<h3>Edit Issue</h3>
<div class="row">
    <form action="/issues/{{issue._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{issue.title}}">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select name="status" id="status">
                    {{#select issue.status}}
                    <option value="Not Started" selected>Not Started</option>
                    <option value="In Progress" >In Progress</option>
                    <option value="Completed" >Completed</option>
                    {{/select}}
                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>What's the Issue?</h5>
                <textarea name="body" id="body">{{issue.body}}</textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>